.login_top {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 80vh;


}

.login_contener,
.login_form {
     display: flex;
     gap: 10px;
     justify-content: space-around;
     flex-direction: column;
}

.login_form {

     border-radius: 57px;
     background: linear-gradient(145deg, #e6e6e6, #ffffff);
     box-shadow: 35px 35px 70px #d9d9d9,
          -35px -35px 70px #ffffff;
     padding: 60px 30px;
     z-index: 1111;

}

.login_form input {
     padding: 6px;
     border: none;
     outline: none;
   

}

.login_form button {
     width: 100%;
     height: 40px;
     border: none;
     outline: none;
     background: var(--therd_color);
     cursor: pointer;

}

.directLogiOrSign {
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--cart_color);
     margin-top: 30px;
}

.directLogiOrSign a {
     gap: 10px;
     text-decoration: none;
     font-weight: bold;

}


